*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: black;
    z-index: 100000;
}
.menu h2 a{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#item li{
     list-style: none;
     padding-right: 50px;
}
#item li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}
#item li a:hover,#item .icon i:hover{
    color: #ff5733;
    cursor: pointer;
}
#item .icon i{
    color: #fff;
    padding-right: 30px;
    font-weight: bolder;
}
#bar{
    color: #ff5733;
    font-weight: lighter;
    font-size: 1.5rem;
    display: none;
}

.scheduledetails{
    background: black;
    color: white;
    padding: 8rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.scheduledetails .weekendmon{
    width: 60%;
  }
  .scheduledetails .weekendtues{
     width: 45%;
  }
.scheduledetails .weekendmon h1{
    font-size: 3rem;
    margin-bottom: 8rem;
    margin-left: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .scheduledetails .weekendmon h2{
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .scheduledetails .weekendtues h2{
    font-size: 2rem;
    margin-top: 12rem;
    margin-bottom: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.scheduledetails .weekendmon p{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3rem;
}
.scheduledetails .weekendtues p{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scheduledetails2{
    background: black;
    color: white;
    padding: 4rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.scheduledetails2 .weekendmon2{
    width: 60%;
  }
.scheduledetails2 .weekendtues2{
     width: 45%;
  }
.scheduledetails2 .weekendmon2 h2{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-left: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .scheduledetails2 .weekendtues2 h2{
    font-size: 2rem;
    margin-bottom: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .scheduledetails2 .weekendmon2 p{
    font-size: 1.3rem;
    margin-left: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scheduledetails2 .weekendtues2 p{
    font-size: 1.3rem;
    margin-right: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.changes{
    border-top: 1px solid gainsboro;
        background: #f9f9f9;
        padding: 8rem;
}
.changes .ready h2{
    font-size: 3rem;
}
.changes .desc a{
    color: #fff;
     background-color: #f13a11;
     padding: 1rem 1rem;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     border-radius: 4%;
 }
.changes .desc  a:hover{
     background: #fff;
     color: #f13a11;
 }
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background-color: #171819;
}
.details h3,h6,h5{
    color: #fff;
   
}
.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;

}
.details .one p{
    color: #666262;
   font-size: 1.2rem;
   padding-bottom: 1rem;
   
}
.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}
.details .two h3{
    font-size: 2.5rem;
     padding-bottom: 1.1rem;
}
.details .two h5{
    font-size: 1.1rem;
}
.details .two p{
    font-size: 1.1rem;
    color: #666262;
}
.details .one  .icon i{
    color: #fff;
    padding-right: 30px;
    font-weight: bolder;
}

