*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }
 .nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: #122;
    z-index: 100000;
}
.nav h2 a{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#item li{
     list-style: none;
     padding-right: 50px;
}
#item li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}
#item li a:hover,#item .icon i:hover{
    color: #ff5733;
    cursor: pointer;
}
#item .icon i{
    color: #fff;
    padding-right: 30px;
    font-weight: bolder;
}
#bar{
    color: #ff5733;
    font-weight: lighter;
    font-size: 1.5rem;
    display: none;
}
 .container{
    max-width: 100%;
    background:black;
    padding: 34px;
    width: 80%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}
 .container h3{
     text-align: center;
     font-size: 2.3rem;
     color: whitesmoke;
     margin: 18px;
 }
 input,textarea{
     border: 2px solid black;
     border-radius: 6px;
     outline: none;
     width: 60%;
     margin: 11px auto;
     padding: 7px;
     font-size: 24px;
 }
 form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .btn{
     color: white;
     background: purple;
     padding: 7px 12px;
     font-size: 20px;
     border: 2px solid white;
     border-radius: 14px;
     cursor: pointer;
 }
 
 .submitmsg{
     color: green;
     font-style: italic;
     font-family: 'Courier New', Courier, monospace;
 }
 .footer{
    border-top: 1px solid #ecf0f1;
    padding: 5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
}
.footer p{
    color: #7f8c8d;
    justify-content: flex-start;
}
.footer p i{
    color: red;
    padding-right: 5px;
}
